body {
    background-color:royalblue;
    display:flex;
    justify-content:center ;
    align-items:center ;
    min-height:100vh;
}

input {
    padding:7px;
    font-size:20px;
    outline-color:royalblue;
    margin-top:10px;
}
.container {
    background:#fff;
    padding:20px 30px;
    width:400px;
    display:flex;
    flex-direction:column;
    justify-content:center ;
    align-items:center ;
}

.title {
    font-size:30px;
    height:50px;
    border:1px solid silver;
    border-radius:5px ;
    font-size:19px;
    padding:15px;
    outline-color:steelblue;
}

.indicate {
    width:103%;
    height:10px;
    display:flex;
    justify-content:center ;
    align-items:center ;
    background:grey;
    border-radius:4px;
    margin:10px 0 20px 0;
}

.indicate span {
    height:10px;
    width:35%;
    border-radius:4px;
}

.low {
    background:brown;
}

.medium {
    background:gold;
}

.high {
    background:green;
}